<?xml version="1.0"?>
<AiBroker>
    <installFolder>C:\Temp\AiBroker</installFolder>
    <TradingAgent>
        <taCloseWithMarket>false</taCloseWithMarket>
        <taPaperTrade>true</taPaperTrade>
        <taManualControl>false</taManualControl>
        <taDrawOnly>false</taDrawOnly>
    </TradingAgent>
</AiBroker>
