/* 
    Document   : semo
    Created on : Jan 7, 2010, 11:08:58 PM
    Author     : Iulian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
    background-image:url('img/background.png');
    background-repeat: repeat-x;
    background-attachment: scroll;
    font-family: sans-serif;
}

#frame {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

hr {
    height: 1px;
    background-color: black;
    color: black;
    width: 100%;
    text-align: left;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}


